.pe-c-launcher {
    display: inline-block;
    border-radius: $default-border-radius;
    padding: rem(10);
    min-width: rem(600);
    border: 1px solid $yukon-gold;
    background: $woodsmoke;
    color: $athens-gray;
    transition: $default-transition-time;
    box-shadow: 4.7px 9.4px 9.4px hsl(0deg 0% 0% / 0.35);

    input {
        font-size: rem(16);
    }

    textarea {
        resize: none;
        font-size: rem(14);
        max-height: rem(500);
        overflow: hidden;
    }

    input,
    textarea {
        background: $woodsmoke;
        color: $athens-gray;
        line-height: rem(23);
        width: 100%;
        padding: rem(10);

        &:focus {
            border: none;
            outline: none;
        }

        border: none;
    }

    &__footer {
        text-align: right;
        display: flex;
        justify-content: space-between;
        padding: rem(12) rem(4) rem(4) rem(4);
        border-top: 1px solid #282828;

        a {
            padding: rem(6) rem(12);
            border-radius: rem(6);

            &:hover {
                background-color: #2a2a2a;
            }
        }
    }

    &__last_edit {
        font-size: rem(12);
        opacity: 0.8;
        font-style: italic;
        display: inline-block;
    }

    &--edit-mode {
        z-index: 30;
        position: fixed;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: rem(600);

        input {
            font-size: rem(20);
        }

        textarea {
            height: rem(500);
            overflow-y: scroll;
            overscroll-behavior: contain;
            font-size: rem(16);
        }

        &__background {
            z-index: 10;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            background-color: #424242;
            opacity: 0.66;
        }
    }
}
