/* Use this link as a name generator:
https://chir.ag/projects/name-that-color/#424242 */

$yukon-gold: #805f04;
$woodsmoke: #15141A;
$athens-gray: #F0F0F4;

$default-border-radius: 6px;
$default-transition-time: 0.2s;
